body {
    background: url(../images/background.jpg);
    background-repeat: repeat;
    font-family: Verdana, Geneva, sans-serif;
    left: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}
h1 {
    text-align: center;
    font-size: 300%;
    color: #d9d9d9;
}
header{
    padding: 20px;

}
#exampleImages {
    overflow: hidden;
    text-align: center;
}
.examples {
    padding-top: 50px;
    padding-right: 20px;
    width: 30%;
}
article {
    text-align: center;
    color: white;
    padding: 5%;
    font-size: 22px;
}
h3 {
    border-bottom: 1px solid;
}
#projects {
    text-align: left;
}